.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 10%;
}

input {
    font: inherit;
    background-color: #f5eed2;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 5px;
}

.island-name {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.name-island {
    width: 75%;
    font-size: 16px;
    padding: 10px 15px;
}

.radio-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.north-hemi-img, .south-hemi-img {
    height: 50px;
    width: 50px;
}

.hemi-opt {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: start;
    justify-items: center;

    input[type="radio"] {
        display: none;
    }
}

.hemi-opt > label:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

.hemi-opt > label:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.hemi-opt > label:nth-child(5) {
    grid-column: 2;
    grid-row: 1;
}

.north-label, .south-label {
    padding: 6px 5px 6px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] + label {
    transition: background-color 148ms ease-in-out, color 148ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hemi-opt input[type="radio"]:checked + label {
    background-color: #00b5aa;
    width: 60px;
    height: 60px;
    padding: 0;
}

.hemi-opt input[type="radio"]:checked + label + label {
    color: #00b5aa;
    font-weight: bold;
}

.apple-img, .pear-img, .peach-img, .cherry-img, .orange-img {
    height: 40px;
    width: 40px;
}

.fruit-opt {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.fruit-opt input[type="radio"] {
    display: none;
}

.apple-label, .pear-label, .peach-label, .cherry-label, .orange-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 3px;
    transition: background-color 148ms ease-in-out;
}

.fruit-opt input[type="radio"]:checked + label {
    background-color: #00b5aa;
}